.player-container {
  z-index: 30;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  height: 49px;
  padding: 0 63px;
  display: flex;
}

.player__controls-session,
.player__progress-session,
.player__volume-session,
.player__track-info-session {
  display: flex;
  height: 100%;
  align-items: center;
}

/* Control section ----------------- */
.player__controls-session {
  display: flex;
  height: 100%;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;
  width: 24px;
  height: 100%;
  margin: 0 0 0 12px;
  padding-left: 12px;
}

.controls:hover {
  cursor: pointer;
}

.controls__random--active,
.controls__repeat--active {
  color: #FF5500;
}

/* Progress section  ------------------*/
.player__progress-session {
  margin-left: 40px;
  width: 480px;
}
 
.progress__current-time,
.progress__total-time {
  width: 25px;
}

#prgbar {
  height: 16px;
  -webkit-appearance: none;
  margin: 10px 0;
  padding: 0 15px;
  width: 400px;
  background-color: inherit;
}

#prgbar:focus {
  outline: none;
}

#prgbar::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #FF5500;
  border-radius: 1px;
  border: 0px solid #000000;
}

#prgbar::-webkit-slider-thumb {
  /* box-shadow: 0px 0px 0px #000000; */
  /* border: 0px solid #2497E3; */
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: #FF5500;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}

#prgbar:focus::-webkit-slider-runnable-track {
  background: #FF5500;
}

/* Volume -------------------------- */
.player__volume-icon {
  width: 20px;
}

.player__volume-icon:hover {
  cursor: pointer;
}

#volbar {
  height: 16px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 75px;
  background-color: inherit;
}

#volbar:focus {
  outline: none;
}

#volbar::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background:  #666;
  border-radius: 1px;
  border: 0px solid #000000;
}

#volbar::-webkit-slider-thumb {
  /* box-shadow: 0px 0px 0px #000000; */
  /* border: 0px solid #2497E3; */
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background:  #666;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}

#volbar:focus::-webkit-slider-runnable-track {
  background:  #666;
}

/* Info section  ------------------*/
.player__track-info-session {
  margin-left: 30px;
}

.track-info__cover {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 10px;
  background-image: linear-gradient(135deg,#846170,#70929c);
}

.track-info__cover-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.track-info__name-user {
  color: #999;
}

.track-info__name-track {
  color: #666;
}