.discover__outer-container {
  position: relative;
  top: 46px;
  min-height: calc(100% - 46px);
  width: calc(100% - 126px);
  margin: 0 63px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
}

/*--------------   Outer Container    --------------*/
.discover__modular-container {
  height: 368px;
  border-bottom: 1px solid #f2f2f2;
  margin: 0px 30px 34px 30px;
}

/*--------------   Content Container    --------------*/
.discover__modular-title {
  font-size: 23px;
  font-weight: 400;
  padding: 5px 0;
}

.discover__modular-description {
  font-size: 14px;
  color: #999;
  font-weight: 100;
  margin-bottom: 30px;
}

.discover__modular-content {
  width: 100%;
  display: flex;
}

