.profile__outer-container {
  position: absolute;
  top: 46px;
  min-height: calc(100% - 46px);
  width: calc(100% - 126px);
  margin: 0 63px;
  background-color: #fff;
  padding-bottom: 100px;
}

.profile__inner-container {
  width: 100%;
  background-color: white;
}

/* ------------    Header     ------------------ */
.profile__header {
  height: 260px;
  background-image: linear-gradient(135deg,#846170,#70929c);
  padding: 30px;
  display: flex;
}

/* Avatar */
.profile-header__avatar {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 30px;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-image: url("https://cdn3.iconfinder.com/data/icons/the-face-says-it-all/900/emoji-face-emotions-smile-512.png");
  background-size: 200px;
}

.profile-header__avatar-img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

/* Name */
.profile-header__user-display-name {
  font-size: 24px;
  line-height: 37px;
  padding: 4px 7px;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  font-weight: 300;
}

/* Follow button */
.profile-header__follow {
  cursor: pointer;
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  padding: 4px 7px;
}

/* ------------    Meta     ------------------ */
.profile__meta {
  margin: 0 30px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.meta__menu {
  font-size: 23px;
  font-weight: 500;
}

.meta__info {
  width: 300px;
  height: 44px;
  display: flex;
  justify-content: space-around;
  color: #999;
}

.meta__info-container {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #f2f2f2;
  padding-left: 20px; 
}

.meta__info-label {
  line-height: .9;
  padding: 5px 0 3px;
  font-size: 12px;
}

.meta__info-value {
  font-size: 20px;
  line-height: 1.2;
}

/* ==================   Tracks    ====================*/
/*-------- Container ----------*/
.profile-track {
  width: 100%;
  padding: 30px 30px;
  display: flex;
}

/*------------------ Cover  -------------*/
.profile-track__cover {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-right: 30px;
  background-image: linear-gradient(135deg,#846170,#70929c);
}

.profile-track__cover-img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

/*------------------ Music Player  -------------*/
.profile-track__music-player {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*------------------ Player Top  -------------*/
.profile-player__play-icon {
  width: 56px;
}

.profile-player__play-icon:hover {
  cursor: pointer;
}

.profile-player__top {
  display: flex;
  justify-content: space-between;
}

.profile-player__top-left {
  display: flex;
}

.profile-player__name {
  height: 48px;
}

.profile-player__name-user,
.profile-player__date {
  font-size: 14px;
  color: #999;
  font-weight: 300;
}

.profile-player__name-track {
  font-size: 20px;
  font-weight: 300;
}

/*------------------ Player Middle  -------------*/
.profile-player__middle {
  position: relative;
  width: 100%;
  height: 110px;
  margin-top: 15px;
  /* background-color: #70929c; */
}

/*------------------ Player End  -------------*/
.profile-player__bottom {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.profile-player__edit-buttons {
  font-size: 11px;
  padding: 2px 9px 2px 8px;
  margin-right: 5px;
  min-width: 25px;
  height: 22px;
  line-height: 16px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
}