/* TODO Add site wide styles */
body {
  font: 12px/1.4 overpass, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  color: #333;
  background-color: #f2f2f2;
  padding-bottom: 75px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Font size */
h1 {
  font-size: 32px;
}